In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv('Portfolio Data.csv')

Data Cleaning  - - - - - -

In [23]:
# variable types
df.dtypes

UniqueID                        int64
CurrentDate                    object
AccountActivity1                int64
AccountActivity2              float64
AccountDetail1                  int64
AccountDetail2                 object
AccountDetail3                  int64
AccountDetail4                  int64
AccountDetail5                 object
AccountDetail6                 object
AccountDetail7                  int64
AccountStatus1                 object
AccountStatus2                 object
PrevAccountDetail1             object
PrevAccountStatus1             object
PrevAccountStatus2             object
AccountActivity3              float64
AccountActivity4              float64
AccountActivity5              float64
AccountActivity6              float64
AccountActivity7              float64
Balance1                      float64
Balance2                      float64
Payment1                      float64
PrevBalance1                  float64
AccountDetail8                 object
HistoricalAccountActivity1    float64
HistoricalAccountActivity2    float64
HistoricalAccountActivity3    float64
HistoricalAccountActivity4    float64
HistoricalAccountActivity5    float64
HistoricalAccountActivity6    float64
HistoricalAccountActivity7    float64
HistoricalAccountActivity8    float64
HistoricalAccountDetail1      float64
HistoricalAccountDetail2      float64
HistoricalAccountDetail3      float64
HistoricalAccountDetail4      float64
HistoricalAccountStatus1      float64
HistoricalAccountStatus2      float64
HistoricalAccountStatus3      float64
HistoricalAccountStatus4      float64
HistoricalAccountStatus5      float64
HistoricalAccountStatus6      float64
HistoricalAccountStatus7      float64
HistoricalAccountStatus8      float64
HistoricalAccountStatus9      float64
HistoricalAccountStatus10     float64
HistoricalAccountStatus11     float64
HistoricalAccountStatus12     float64
HistoricalAccountStatus13     float64
HistoricalAccountStatus14     float64
HistoricalBalance1            float64
Payment2                       object
Payment3                      float64
Payment4                       object
Target                          int64
dtype: object

In [24]:
df.describe()

,UniqueID,AccountActivity1,AccountActivity2,AccountDetail1,AccountDetail3,AccountDetail4,AccountDetail7,AccountActivity3,AccountActivity4,AccountActivity5,...,HistoricalAccountStatus8,HistoricalAccountStatus9,HistoricalAccountStatus10,HistoricalAccountStatus11,HistoricalAccountStatus12,HistoricalAccountStatus13,HistoricalAccountStatus14,HistoricalBalance1,Payment3,Target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,285827.000000,285827.000000,285827.000000,...,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,300000.000000
mean,150000.500000,0.024937,10.114659,1.069627,742.419517,0.748793,310.517683,54.641119,7.087992,3.392928,...,0.059816,0.037433,5.604803,0.467286,0.116697,0.195188,0.006666,680.991303,84.880670,0.500000
std,86602.684716,0.221860,23.898865,0.267331,510.977571,2.158456,491.488608,122.612800,11.257088,36.160656,...,0.284251,0.276817,3.417085,0.842026,0.370455,0.581047,0.081370,448.977515,141.200283,0.500001
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,75000.750000,0.000000,0.000000,1.000000,350.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,396.000000,30.000000,0.000000
50%,150000.500000,0.000000,0.000000,1.000000,500.000000,0.000000,0.000000,4.950000,0.000000,0.000000,...,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,546.000000,50.000000,0.500000
75%,225000.250000,0.000000,0.000000,1.000000,850.000000,0.000000,500.000000,65.980000,25.000000,0.000000,...,0.000000,0.000000,8.000000,1.000000,0.000000,0.000000,0.000000,830.000000,80.000000,1.000000
max,300000.000000,2.000000,152.740000,5.000000,15000.000000,9.000000,10000.000000,2899.620000,25.000000,2528.000000,...,12.000000,11.000000,13.000000,11.000000,8.000000,9.000000,1.000000,7968.000000,3548.160000,1.000000

When you want to push your changes run these three in succesion:

In [26]:
# adds the file to the staged changes
!git add DS2Project.ipynb

In [27]:
# commits the changes. put your changes in the -m message
!git commit -m "imported data & looking at structure"

[main b540fce] imported data & looking at structure
 1 file changed, 483 insertions(+), 17 deletions(-)

In [28]:
# push to repository
!git push

Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 3.48 KiB | 3.48 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/cmstewa19/DS2Project.git
   d8f8bc6..b540fce  main -> main

When you want to get the most recent version, run this:

In [29]:
!git pull --rebase

Already up to date.