In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Portfolio Data.csv')
df.head()

,UniqueID,CurrentDate,AccountActivity1,AccountActivity2,AccountDetail1,AccountDetail2,AccountDetail3,AccountDetail4,AccountDetail5,AccountDetail6,...,HistoricalAccountStatus10,HistoricalAccountStatus11,HistoricalAccountStatus12,HistoricalAccountStatus13,HistoricalAccountStatus14,HistoricalBalance1,Payment2,Payment3,Payment4,Target
0,1,11/1/2017,0,0.0,1,5/1/2016,750,0,NaN,NaN,...,2.0,0.0,0.0,0.0,0.0,75.0,7/7/2017,75.00,11/30/2017,0
1,2,11/1/2017,0,0.0,1,4/1/2015,750,0,X,X,...,11.0,1.0,0.0,0.0,0.0,594.0,10/24/2017,30.00,11/3/2017,0
2,3,11/1/2017,0,0.0,1,8/1/2016,350,0,X,NaN,...,11.0,1.0,0.0,0.0,0.0,395.0,11/26/2017,30.00,11/4/2017,0
3,4,11/1/2017,0,0.0,1,7/1/2017,350,0,NaN,NaN,...,3.0,0.0,0.0,0.0,0.0,146.0,9/5/2017,145.51,11/26/2017,0
4,5,11/1/2017,0,0.0,1,5/1/2016,600,0,X,NaN,...,8.0,0.0,1.0,0.0,0.0,600.0,11/2/2017,170.61,11/8/2017,0

Data Cleaning  - - - - - -

In [6]:
# drop UniqueID and CurrentDate because these are not relevant
df.drop(['UniqueID','CurrentDate'],axis = 1,inplace = True)
df.head()

,AccountActivity1,AccountActivity2,AccountDetail1,AccountDetail2,AccountDetail3,AccountDetail4,AccountDetail5,AccountDetail6,AccountDetail7,AccountStatus1,...,HistoricalAccountStatus10,HistoricalAccountStatus11,HistoricalAccountStatus12,HistoricalAccountStatus13,HistoricalAccountStatus14,HistoricalBalance1,Payment2,Payment3,Payment4,Target
0,0,0.0,1,5/1/2016,750,0,NaN,NaN,0,NaN,...,2.0,0.0,0.0,0.0,0.0,75.0,7/7/2017,75.00,11/30/2017,0
1,0,0.0,1,4/1/2015,750,0,X,X,500,NaN,...,11.0,1.0,0.0,0.0,0.0,594.0,10/24/2017,30.00,11/3/2017,0
2,0,0.0,1,8/1/2016,350,0,X,NaN,0,NaN,...,11.0,1.0,0.0,0.0,0.0,395.0,11/26/2017,30.00,11/4/2017,0
3,0,0.0,1,7/1/2017,350,0,NaN,NaN,0,NaN,...,3.0,0.0,0.0,0.0,0.0,146.0,9/5/2017,145.51,11/26/2017,0
4,0,0.0,1,5/1/2016,600,0,X,NaN,350,NaN,...,8.0,0.0,1.0,0.0,0.0,600.0,11/2/2017,170.61,11/8/2017,0

In [ ]:
# variable types

# df.dtypes for the list                df['colname'].value_counts() for the values
'''
AccountActivity1                int64   [0, 1, 2]
AccountActivity2              float64   num
AccountDetail1                  int64   [0, 1, 2, 3, 4, 5]
AccountDetail2                 object   dates (format 1/1/2000)
AccountDetail3                  int64   num
AccountDetail4                  int64   [0, 3, 4, 5, 6, 7, 8, 9]      
AccountDetail5                 object   X or blank
AccountDetail6                 object   X or blank
AccountDetail7                  int64   num
AccountStatus1                 object   X, O, D, N
AccountStatus2                 object   dates (format 1/1/2000)
PrevAccountDetail1             object   dates (format 1/1/2000)
PrevAccountStatus1             object   I, C, A, E, Z, B, F
PrevAccountStatus2             object   O, D, X, N
AccountActivity3              float64   num
AccountActivity4              float64   num
AccountActivity5              float64   num
AccountActivity6              float64   num
AccountActivity7              float64   num
Balance1                      float64   num
Balance2                      float64   num
Payment1                      float64   num
PrevBalance1                  float64   num
AccountDetail8                 object   dates (format 1/1/2000)
HistoricalAccountActivity1    float64   num
HistoricalAccountActivity2    float64   num
HistoricalAccountActivity3    float64   num
HistoricalAccountActivity4    float64   num
HistoricalAccountActivity5    float64   num
HistoricalAccountActivity6    float64   num
HistoricalAccountActivity7    float64   0 or null - drop?
HistoricalAccountActivity8    float64   num
HistoricalAccountDetail1      float64   num
HistoricalAccountDetail2      float64   num
HistoricalAccountDetail3      float64   num
HistoricalAccountDetail4      float64   [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0]
HistoricalAccountStatus1      float64   num
HistoricalAccountStatus2      float64   num
HistoricalAccountStatus3      float64   [0.0 ... 12.0]
HistoricalAccountStatus4      float64   [0.0 ... 13.0]
HistoricalAccountStatus5      float64   [0.0 ... 36.0]
HistoricalAccountStatus6      float64   [0.0 ... 11.0]
HistoricalAccountStatus7      float64   [0.0 ... 26.0, 29.0]
HistoricalAccountStatus8      float64   [0.0 ... 7.0, 12.0]
HistoricalAccountStatus9      float64   [0.0 ... 11.0]
HistoricalAccountStatus10     float64   [0.0 ... 13.0]
HistoricalAccountStatus11     float64   [0.0 ... 9.0, 11.0]
HistoricalAccountStatus12     float64   [0.0 ... 6.0, 8.0]
HistoricalAccountStatus13     float64   [0.0 ... 9.0]
HistoricalAccountStatus14     float64   [0.0, 1.0]
HistoricalBalance1            float64   num
Payment2                       object   dates (format 1/1/2000)
Payment3                      float64   num
Payment4                       object   dates (format 1/1/2000)
Target                          int64   [0, 1]
'''

need to:
- encode AccountDetail5 AccountDetail6 [X or null] as 0,1
- handle columns that contain dates
- encode columns that contain letters
- handle/drop null values
- find and handle outliers

In [8]:
# Drop out the missing data for entire dataframe
df.dropna()

,AccountActivity1,AccountActivity2,AccountDetail1,AccountDetail2,AccountDetail3,AccountDetail4,AccountDetail5,AccountDetail6,AccountDetail7,AccountStatus1,...,HistoricalAccountStatus10,HistoricalAccountStatus11,HistoricalAccountStatus12,HistoricalAccountStatus13,HistoricalAccountStatus14,HistoricalBalance1,Payment2,Payment3,Payment4,Target
964,0,75.0,1,12/1/2010,1400,0,X,X,1150,X,...,2.0,1.0,0.0,0.0,0.0,1579.0,12/6/2016,58.00,2/3/2017,1
1088,0,0.0,2,5/1/2011,2000,0,X,X,1500,X,...,2.0,1.0,0.0,0.0,0.0,2053.0,1/22/2017,50.00,2/27/2017,1
1664,0,0.0,2,8/1/2007,550,0,X,X,400,X,...,6.0,0.0,1.0,1.0,0.0,669.0,3/20/2017,113.00,6/26/2017,1
2930,0,75.0,1,4/1/2014,850,0,X,X,350,X,...,6.0,1.0,0.0,2.0,0.0,932.0,2/13/2017,32.32,6/20/2017,1
3760,0,0.0,1,7/1/2007,1800,0,X,X,1300,X,...,7.0,1.0,1.0,0.0,0.0,2126.0,6/16/2017,150.00,7/28/2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298151,0,0.0,1,8/1/2009,1000,0,X,X,500,X,...,2.0,0.0,0.0,3.0,0.0,1053.0,2/10/2017,24.52,2/25/2017,1
298383,0,75.0,1,5/1/2012,850,0,X,X,600,X,...,6.0,0.0,1.0,1.0,0.0,1072.0,2/9/2017,100.00,6/7/2017,1
299393,0,0.0,2,5/1/2007,2750,0,X,X,2500,X,...,6.0,0.0,0.0,1.0,0.0,3021.0,3/1/2017,200.00,6/7/2017,1
299680,0,75.0,1,3/1/2015,750,0,X,X,500,X,...,6.0,0.0,0.0,1.0,0.0,918.0,2/1/2017,26.71,6/3/2017,1
299722,0,0.0,1,8/1/2013,600,0,X,X,350,X,...,6.0,0.0,1.0,2.0,0.0,790.0,3/10/2017,51.93,6/20/2017,1

In [9]:
df.describe()

,AccountActivity1,AccountActivity2,AccountDetail1,AccountDetail3,AccountDetail4,AccountDetail7,AccountActivity3,AccountActivity4,AccountActivity5,AccountActivity6,...,HistoricalAccountStatus8,HistoricalAccountStatus9,HistoricalAccountStatus10,HistoricalAccountStatus11,HistoricalAccountStatus12,HistoricalAccountStatus13,HistoricalAccountStatus14,HistoricalBalance1,Payment3,Target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,285827.000000,285827.000000,285827.000000,285827.000000,...,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,298851.000000,300000.000000
mean,0.024937,10.114659,1.069627,742.419517,0.748793,310.517683,54.641119,7.087992,3.392928,57.926795,...,0.059816,0.037433,5.604803,0.467286,0.116697,0.195188,0.006666,680.991303,84.880670,0.500000
std,0.221860,23.898865,0.267331,510.977571,2.158456,491.488608,122.612800,11.257088,36.160656,132.814448,...,0.284251,0.276817,3.417085,0.842026,0.370455,0.581047,0.081370,448.977515,141.200283,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,350.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,396.000000,30.000000,0.000000
50%,0.000000,0.000000,1.000000,500.000000,0.000000,0.000000,4.950000,0.000000,0.000000,4.950000,...,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,546.000000,50.000000,0.500000
75%,0.000000,0.000000,1.000000,850.000000,0.000000,500.000000,65.980000,25.000000,0.000000,69.075000,...,0.000000,0.000000,8.000000,1.000000,0.000000,0.000000,0.000000,830.000000,80.000000,1.000000
max,2.000000,152.740000,5.000000,15000.000000,9.000000,10000.000000,2899.620000,25.000000,2528.000000,3200.000000,...,12.000000,11.000000,13.000000,11.000000,8.000000,9.000000,1.000000,7968.000000,3548.160000,1.000000

Source Control commands - - - - - -

When you want to push your changes run these three in succesion:

In [119]:
# adds the file to the staged changes
!git add DS2Project.ipynb

In [120]:
# commits the changes. put your changes in the -m message
!git commit -m "reformatted variable structure"

On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	Portfolio Data.csv

nothing added to commit but untracked files present (use "git add" to track)

In [121]:
# push to repository
!git push

Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 8 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 464 bytes | 464.00 KiB/s, done.
Total 3 (delta 1), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/cmstewa19/DS2Project.git
   634d83c..b5eaef5  main -> main

When you want to get the most recent version, run this:

In [1]:
!git pull

Already up to date.